extends layout

block content
	header.page-header
		h1 About

		h2 Student Manager Application
	.about
		strong Student Manager Application
		p This is a demo application used in the Intro to Node Development course
		p
			| For more information, please contact
			a(href='mailto:judy@karmoxie.com') Judy Lipinski
			| from
			a(href='http://www.karmoxie.com') Karmoxie Consulting

