body {
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-align: center;
}

h2 {
    font-size: 2.0rem;
    font-weight: 300;
}

.navbar {
    display: block;
    width: 100%;
    height: 3rem;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.navbar > .container {
    width: 100%;
}

.nav-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 3rem;
    color: #222;
}

.nav-link:hover {
    color: #4da89e;
}

.full-width {
    width: 100%;
}